.mark {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    transform: translate(50%, 50%);
    transition: .3s;
}

.mark.color {
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 80px;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
}

.mark span {
    color: #ef4a46;
}

.mark:hover {
    color: white;
    transform: translate(12.5%, 12.5%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75), 0 0 30px rgba(0, 0, 0, 0.75), 0 0 45px rgba(0, 0, 0, 0.75);
}